*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    

}
body{
   background-image: url(/image/img2.png);
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
}
main{
    display: flex;
    /* margin:14px;
    padding: 14px; */
}
.left{
    width: 50%;
    height: 100%;
}
.heading{
margin-top: 240px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 6px;
  color: rgb(7, 6, 6);
  text-shadow: 7px 5px 4px rgb(242, 243, 243);
}

 .right{
    width: 50%;
    height: 100%;
    padding-left: 100px;
    padding-right: 30px;
 }
 .container{
   margin: 23px;
   width: 90%;
   height: 100%;
   padding-top: 23px;
   padding-bottom: 23px;
   border-radius: 10px;
   background-color: rgba(205, 240, 240, 0.5);
    box-shadow: rgba(50,50,93,0.25) 0px 6px 12px -2px ,rgba(0,0,0,0.3) 0px 3px 7px -3px;
 }
 .create-heading{
    margin: 0px;
    letter-spacing: 2px;
    text-align: center;
    color: rgba(167, 10, 167, 0.932);
    text-shadow: 2px 2px 4px rgb(242, 243, 243);
}
.para-top{
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 2px;

 }
 .input{
    
    padding-left: 23px;
 }
 .input input{
width: 422px;
height: 43px;
border-radius: 15px;
padding: 8px;
border: none;
box-shadow: rgba(50,50,93,0.25) 0px 6px 12px -2px ,rgba(0,0,0,0.3) 0px 3px 7px -3px;
 }
 .input{
   text-shadow: 2px 2px 4px rgb(242, 243, 243);
    padding-bottom: 20px;
    color: rgba(148, 8, 148, 0.76);
    font-weight: bolder;
    font-size: 18px;
 }
 .form-input{
    margin-top: 27px;
 }
 .checkbox{
   padding-left: 23px;
   
 }
 .button-cont{
   text-align: center;
 }
 .button{
   color: #fff;
   padding: 15px 25px;
   background-color: rgba(201, 8, 201, 0.76);
   background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
   box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
   border-radius: 14px;
   font-weight: bold;
   font-size: 16px;
 
   border: 0;
 
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
 
   cursor: pointer;
 
 }
 button:hover{
background-color: rgb(201, 167, 233);
 }
 .signIn{
   margin-top: 5px;
 }  



 /* signIn container */

 .contain{
   margin: 23px;
   width: 90%;
   height: 100%;
   padding-top: 23px;
   padding-bottom: 23px;
   border-radius: 10px;
   background-color: rgba(205, 240, 240, 0.5);
    box-shadow: rgba(50,50,93,0.25) 0px 6px 12px -2px ,rgba(0,0,0,0.3) 0px 3px 7px -3px;
 }
 .checkbox .forgot{
   padding-left: 181px;
 }

 /* javascript  */
 #alert{
   color: red;
   font-size: 15px;
 }